<!-- Header -->
<app-header></app-header>

<!-- Side Nav Menu -->
<mat-sidenav-container class="mainnav">
  <mat-sidenav #sidenav mode="side" closed>
    <p><button mat-button (click)="sidenav.toggle()">Toggle Nav</button></p>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <div>
        Stuff
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<p><button mat-button (click)="sidenav.toggle()">Toggle Nav</button></p>

